.list-ruls {
  font-size: 1.6rem;
  line-height: 2rem;
}
.list-items {
  margin-bottom: 1.2rem;
  list-style-type: none;
}
.list-items:last-child {
  margin-bottom: 0;
}
.header-items {
  font-weight: 600;
}
