.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  background-color: rgba(255, 255, 255, 0.5);
}
.overlay {
}
.modal-window {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 15% 10%;
  position: absolute;
  border: 1px solid;
  border-radius: 20px;
  background-color: #fff;
  animation-duration: 0.1s;
  animation-name: opacity-on;
}
@keyframes opacity-on {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  padding-bottom: 0;
}
.modal-content {
  padding: 4rem;
  padding-top: 0;
}
.btn {
  border: none;
  background-color: #fff;
  font-size: 3.2rem;
  cursor: pointer;
}
.btn:hover {
  color: blue;
}
.btn:active {
  color: blue;
}
