.content-field {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
}
.show-image {
  position: absolute;
  height: 60%;
  width: 80%;
  background-color: antiquewhite;
  margin: 15% 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
.btn-show-image {
  border: none;
  background-color: #fff;
  font-size: 3.2rem;
  cursor: pointer;
}
.img-show {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-show-image:hover {
  color: blue;
}
.btn-show-image:active {
  color: blue;
}
.btn-menu {
  display: flex;
  justify-content: space-around;
}
